/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body{
 font-size: 13px;
}

a:-webkit-any-link{
  text-decoration:none;
}

.relative{
  position: relative;
}

.header_wrapper{
  font-size: 20px;
  font-size: 20px;
  font-weight: 500;
  background-image: linear-gradient(#F53D2D, #FF6633);
}

.header_group{
  color: #fff;
  display: inline-block;
  padding: 20px 10px;
}

.info_wrapper{
  float: right;
  padding: 18px 20px;
}

.readme_wrapper{
  display: none;
  position: absolute;
  background-color: #FFD782;
  top: 30px;
  right: 65px;
  width: 320px;
  font-size: 14px;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  z-index: 1;
}

.tooltip_url::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -14px;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: #FFD782 transparent transparent transparent;
  transform: rotate(270deg);
}

.tooltip_url_desc {
  display: none;
  background-color: #DC4C46;
  color: #fff;
  text-align: center;
  border-radius: 7px;
  position: absolute;
  opacity: 1;
  top: -27px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  text-align: center;
  padding: 5px 10px;
  width: 100%
}

.tooltip_url_desc::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: #DC4C46 transparent transparent transparent;
}
